body {
  background-color: rgb(254, 255, 237);
  color: rgb(103, 88, 72);
  text-align: center;
  font-family: Montserrat;
  padding: 16px;
}

hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.164);
  content: "\00a0";
}

/* Cabecalho */
.icone-cabecalho {
  padding: 16px 0 0 0;
  text-align: right;
  font-size: 28px;
}

.icone-cabecalho a {
  color: inherit;
  padding-left: 12px;
}

.logo img {
  width: 300px;
  margin-bottom: 20px;
}

/* Frase */
.frase {
  background-color: rgb(154, 167, 146);
  font-family: Dancing Script;
}

.frase h2 {
  font-size: 220%;
  padding: 30px 10% 0 10%;
}

.frase p {
  padding: 0 15px 15px 0;
  text-align: right;
}

/* Perfil */
.perfil {
  text-align: left;
}

.perfil-col {
  padding: 24px 10%;
}

.foto-fabi p {
  border: 1px solid black;
  background-color: rgb(154, 167, 146);
}

.agendar-consulta h2 {
  text-align: center;
}

/* Especialidades */

.especialidade h1 {
  margin-bottom: 24px;
}

.opcoes p {
  padding-top: 24px;
  margin-bottom: 0;
}

.opcoes img {
  border: 4px solid rgb(154, 167, 146);
  width: 250px;
  height: 250px;
}

.textos p {
  padding: 8px 8%;
}

@media (max-width: 770px) {
  .textos p {
    padding: 8px 18%;
  }
}


/* Animação Especialidades */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Javascript Especialidades */

#texto1,
#texto2,
#texto3,
#texto4,
#texto5,
#texto6,
#texto7,
#texto8 {
  text-align: center;
  line-height: 1.5;
  display: none;
  border: none;
  background-color: inherit;
  padding-bottom: 30px;
}

.botoes {
  border: 0px;
  background-color: inherit;
}

/* Atendimento */

.atendimento h1 {
  padding-bottom: 20px;
}

.atendimento li {
  list-style-position: inside;
  padding: 0 10% 0 10%;
  list-style: none;
}

@media (max-width: 900px) {
  .modalidade {
    margin: auto;
  }
  .mod-online {
    padding-left: 8%;
  }
  .mod-presencial {
    padding-right: 8%;
  }
}

@media (max-width: 770px) {
  .mod-online {
    padding-left: 0;
  }
  .mod-presencial {
    padding-right: 0;
  }
}
/* Agendamento */

.agendamento h1 {
  padding-bottom: 20px;
}

.icone-agendamento {
  padding: 16px 16px 0 0;
  font-size: 48px;
}

.icone-agendamento a {
  color: inherit;
}

.icone-agendamento p {
  font-size: 30%;
}

.icone-whats {
  padding-left: 12%;
}

.icone-mail {
  padding-right: 12%;
}

/* Copyright */
.copyright {
  font-size: 70%;
}

.copyright a {
  color: inherit;
  text-decoration: none;
}
